@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&family=Open+Sans&family=Oswald&family=Quicksand&display=swap");
/* CSS copiado */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

/* Google Fonts */
/* CSS rules
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Quicksand', sans-serif;
*/
/* body {
  font-family: "Nunito", sans-serif;
  background-image: url(imgs/white-concrete-wall.jpg);
} */
/* HEADER */
/* 
.cabecera {
  background-color: rgb(255, 255, 255);
  border-bottom: 2px grey groove;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  grid-area: header;
  display: flex;
  justify-content: space-around;
}

.cabecera nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.cabecera__logo {
  margin-right: 50px;
  display: flex;
  flex-shrink: 0;
}

.cabecera__lista {
  display: flex;
  flex-grow: 1;
}

.cabecera__logo a {
  align-items: center;
  color: black;
  display: flex;
  font-size: 50px;
}

.cabecera__logo img {
  width: 135px;
  height: 135px;
  display: flex;
}

.cabecera__lista ul {
  font-size: 30px;
  display: flex;
  /* flex-wrap: wrap;
} */
/* .cabecera__lista__item a {
  color: black;
  margin: 15px;
} */
/* FOOTER */
/* .pie {
  grid-area: footer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-top: 2px grey groove;
  width: 100%;
}

.pie__redes {
  display: flex;
  align-items: center;
}

.pie__redes img {
  height: 40px;
  width: 40px;
  margin: 0px 15px;
} */
/* INDEX */
/* con esta clase hasta que demos carrusel */
/* .index__carrusel {
  display: flex;
  justify-content: center;
  height: 600px;
  grid-area: carrusel;
}

.index__carrusel img {
  width: 33%;
}

.index {
  grid-area: index;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.index__box1 {
  width: 800px;
}

.index__box2 {
  width: 800px;
}

.index__box1__somos {
  text-align: justify;
  font-size: 14px;
  letter-spacing: 1px;
  word-spacing: 4px;
  line-height: 25px;
  padding: 30px;
  background-color: rgba(255, 0, 200, 0.113);
  border-radius: 5%;
  margin: 30px;
}

.index__box1__somos h1 {
  font-size: 26px;
  margin-bottom: 30px;
  font-family: "Quicksand", sans-serif;
}

.index__box2__video {
  margin: 30px;
  text-align: center;
  font-size: 20px;
}

.index__box2__video iframe {
  margin-top: 20px;
  width: 700px;
  height: 400px;
} */
/*  SERVICIOS */
/* 
.servicio,
.obras {
  text-align: center;
  padding: 20px;
  font-size: 40px;
  letter-spacing: 5px;
  word-spacing: 10px;
  grid-area: titulo;
}

.servicios {
  grid-area: servicios;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.servicios__tipos h3 {
  margin: 30px 0px;
}

.servicios__tipos p {
  margin: 30px 0px;
}

.servicios__tipos {
  padding: 10px;
  border: 1px black solid;
  background-color: rgba(218, 24, 24, 0.088);
  border-radius: 10%;
  text-align: center;
  margin: 20px 0px;
}

.servicios__tipos img {
  width: 400px;
  height: 500px;
}

.servicios__tipos p {
  width: 400px;
}

.servicios__tipos:hover {
  box-shadow: 0px 0px 13px rgb(109, 106, 106);
  transition: 500ms;
}

/* CONTACTO */
/* .contacto__datos {
  border-right: 2px grey solid;
  grid-area: contacto;
}

.contacto__datos__horarios {
  margin: 30px 60px;
  font-size: 25px;
  line-height: 40px;
}

.contacto__datos__telefonos {
  display: flex;
  margin: 60px;
  font-size: 20px;
}

.contacto__datos__telefonos img {
  height: 30px;
  width: 30px;
  margin: 10px 8px 0px 0px;
}

.contacto__datos__telefonos__adm,
.contacto__datos__telefonos__ven {
  width: 40%;
}

.contacto__datos__ubicacion {
  margin: 30px 60px;
  font-size: 25px;
  text-align: center;
}

.contacto__datos__ubicacion iframe {
  margin-top: 10px;
}

.contacto__formulario {
  text-align: center;
  grid-area: formulario;
} */
/* OBRAS */
/* 
.obras__varias {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  grid-area: obras;
}

.obras__varias__conf {
  background-color: rgba(218, 24, 24, 0.088);
  border: 1px black solid;
  border-radius: 10%;
  text-align: center;
  width: 500px;
  padding: 20px 0px;
  text-align: center;
  margin: 30px 0px;
}

.obras__varias__conf p {
  margin-bottom: 10px;
}

.obras__varias__conf img {
  border-radius: 10%;
  width: 450px;
  height: 350px;
} */
/* PRODUCTOS */
/* .productos {
  grid-area: productos;
}

.productos__tipos li {
  font-size: 20px;
  border: 1px black solid;
  padding: 10px;
  border-radius: 30%;
  background-color: rgba(222, 184, 135, 0.486);
  margin-bottom: 20px;
}

.productos__tipos a {
  color: black;
}

.productos__tipos {
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.prod__horm {
  font-size: 30px;
  background-color: rgb(5, 86, 86);
  padding: 10px 20px;
}

.prod__horm__tipos {
  font-size: 25px;
  background-color: rgb(7, 134, 134);
  padding: 10px 30px;
}

.prod__horm__tipos li {
  font-size: 20px;
  background-color: rgb(19, 239, 239);
  padding: 0px 40px;
}

.prod__api {
  font-size: 30px;
  background-color: rgb(81, 86, 5);
  padding: 10px 20px;
}

.prod__api__tipos {
  font-size: 25px;
  background-color: rgb(125, 134, 7);
  padding: 10px 30px;
}

.prod__api__tipos li {
  font-size: 20px;
  background-color: rgb(229, 245, 18);
  padding: 0px 40px;
}

.prod__otros {
  font-size: 30px;
  background-color: rgb(114, 11, 61);
  padding: 10px 20px;
}

.prod__otros__li {
  font-size: 20px;
  background-color: rgb(164, 16, 175);
  padding: 0px 70px;
}

.prod__al {
  font-size: 30px;
  background-color: rgb(11, 114, 25);
  padding: 10px 20px;
}

.prod__al__tipos {
  font-size: 25px;
  background-color: rgb(19, 174, 40);
  padding: 10px 30px;
}

.prod__al__tipos li {
  font-size: 20px;
  background-color: rgb(18, 255, 26);
  padding: 0px 40px;
}

.prod__al__otros {
  font-size: 20px;
  background-color: rgb(96, 246, 101);
  padding: 0px 70px;
}

.btn {
  margin: 20px;
  border: 1px black solid;
  background-color: aquamarine;
  display: inline-block;
  padding: 5px;
}

/* lo de abajo no se si es la forma correcta, se me ocurrio hacerlo asi y funciono, ya que estaba teniendo problemas con los enlaces dentro de la pagina por la position:fixed del navbar, se me superponia sobre enlace origianal*/
/* .punto {
  position: absolute;
  top: 0;
  visibility: hidden;
}

.punto2 {
  position: absolute;
  top: 0;
  margin-top: 200px;
  visibility: hidden;
}

.punto3 {
  position: absolute;
  top: 0;
  margin-top: 680px;
  visibility: hidden;
} */
/* GRID Index  */
/* .grid-container-index {
  display: grid;
  grid-template-rows: 200px 600px auto 70px;

  grid-template-areas:
    "header"
    "carrusel"
    "index"
    "footer";
} */
/* GRID Obras */
/* .grid-container-obras {
  display: grid;
  grid-template-rows: 200px 50px 1fr 70px;

  grid-template-areas:
    "header"
    "titulo"
    "obras"
    "footer";
} */
/* GRID Servicios */
/* .grid-container-servicios {
  display: grid;
  grid-template-rows: 200px 70px 1fr 70px;

  grid-template-areas:
    "header"
    "titulo"
    "servicios"
    "footer";
} */
/* GRID Contacto */
/* .grid-container-contacto {
  display: grid;
  grid-template-rows: 200px 1fr 70px;
  grid-template-columns: 1fr 1fr;

  grid-template-areas:
    "header header"
    "contacto formulario"
    "footer footer";
} */
/* GRID Productos */
/* .grid-container-productos {
  display: grid;
  grid-template-rows: 200px 100px 1fr 70px;

  grid-template-areas:
    "header"
    "titulo"
    "productos"
    "footer";
} */
/* Transiciones, animaciones y/o transformaciones - desafio crear repositorio en GitHub */
/* .cabecera__lista__item {
  border-radius: 15%;
  transition: background-color 1s linear;
  transition: box-shadow 1s linear;
}

.cabecera__lista__item:hover {
  background-color: #fc0e0e;
  box-shadow: 10px 10px #ec3d2299;
}

.cabecera__logo img {
  animation: fadeIn 5s ease-in forwards, growth 2s 1s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    transform: translateX(-100px);
  }
  20%,
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes growth {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
} */
/* Desafio Bootstrap */
.navbar-brand {
  font-size: calc(0.5rem + 2vw);
}

.img-servicios:hover {
  box-shadow: 0px 0px 13px rgb(255, 255, 255);
  transition: 500ms;
}

#navbarNav li a:hover {
  transition: 0.5s 0s ease-in;
  font-size: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
