@mixin botones($bg-color, $b-radius, $color, $disp, $jc) {
  background-color: $bg-color;
  border-radius: $b-radius;
  color: $color;
  display: $disp;
  justify-content: $jc;
}

.boton-mixin1 {
  @include botones(#198754, 0.375rem, white, flex, center);
}

.boton-mixin2 {
  @include botones(#ffc107, 0.375rem, white, flex, center);
  flex-wrap: wrap;
}
